.hidden {
    display: none;
}
/* #region common */
body {
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
}
h1, h2, h3, h4, p {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
a {
    color: #2E2F42;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
}
a:hover,
a:focus {
    color: #404BBF;
}
button {
    font-family: inherit;
    cursor: pointer;
}
ul {
    list-style-type: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
    max-width: 768px;
    }
}
@media screen and (min-width: 1158px) {
    .container {
    max-width: 1158px;
    padding: 0 15px;
    }
}
/* #endregion common */
/* #region header */
header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
}
.navigation-list,
.address-place {
    display: none;
}
.site-logo {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.17;
    display: flex;
    align-items: center;
}
.header-logo {
    display: block;
    padding: 16px 0;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}
.accent-blue {
    color: #4D5AE5;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
}
.burger-button {
    padding: 0;
    border: none;
    background-color: transparent;
}
.burger-icon {
    display: block;
    fill: #2F2F37;
}
@media screen and (min-width: 768px) {
    .burger-button {
        display: none; }

    .navigation-page {
        display: flex;
        align-items: center; }
    .header-logo {
    padding: 24px 0;
    margin-right: 120px;
}
    .navigation-list {
        display: flex;
        align-items: center;
        gap: 40px; }

    .navigation-link {
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}
    .current {
        position: relative;
        color: #404BBF;
}
    .navigation-link.current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        display: block;
        height: 4px;
        width: 100%;
        background-color: #404BBF;
        border-radius: 2px;
}
.address-place {
    display: block;
}
.address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.address-link {
    display: block;
    color: #434455;
    font-size: 12px;
    line-height: 1.17;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.04em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}
}
@media screen and (min-width: 1158px) {
.header-logo {
    margin-right: 76px;
}
.address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
}
.address-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
}