/* font-family: "Roboto", sans-serif; */
/* font-family: "Raleway", sans-serif; */
body {
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
}
h1, h2, h3, h4, p {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
}
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
button {
    font-family: inherit;
    cursor: pointer;
}
/* #region header */
header {
    border-bottom: 1px solid #E7E9FC;box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);

}
.header-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-logo {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.17;
    display: flex;
    align-items: center;
}
.header-logo {
    display: block;
    padding: 24px 0;
    margin-right: 76px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}
.accent-blue {
    color: #4D5AE5;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
}
.navigation-page {
    display: flex;
    align-items: center;
}
.navigation-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
a {
    color: #2E2F42;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
}
a:hover,
a:focus {
    color: #404BBF;
}

ul {
    list-style-type: none;
}
.navigation-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}
.current {
    position: relative;
    color: #404BBF;
}
.navigation-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    height: 4px;
    width: 100%;
    background-color: #404BBF;
    border-radius: 2px;

}
address a {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}
.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.address-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}
/* #endregion header */
/* #region hero */
.hero-page {
    background-color: #2E2F42;
    color: #FFFFFF;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}
.hero-button {
    display: flex;
    justify-content: center;

}
.hero-page-button {
    border-radius: 4px;
    border: none;
    padding: 16px 32px; 
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-page-button:hover, .hero-page-button:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}

h1 {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.02em;
    width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

/* #endregion hero */

h2 {
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    letter-spacing: 0.02em;
}
h3 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
section p {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
}
/* #region features */
.features {
    padding: 120px 0;
    display: flex;
    align-items: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}
.features-list-item {
    width: calc((100% - (24px * 3)) / 4);
    height: auto;

}
.features-list-icon {
    display: flex;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    background-color: #F4F4FD;
    margin-bottom: 8px;
    height: 112px;
    justify-content: center;
    align-items: center;

}

/* #endregion features */
/* #region team */
.section-team {
    background-color: #F4F4FD;
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-team-title {
    margin-bottom: 72px;
    text-align: center;
}
.team-list {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.team-list-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    width: calc((100% - (24px * 3)) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-list-discription {
    padding: 32px 16px;
    text-align: center;
}
.team-icon-list {
    display: flex;
    gap: 24px;
    margin-top: 8px;
}
.team-icon-list li {
    display: flex;
}
.icon-team-link,
.footer-link-icon {
    display: flex;
    height: 40px;
    width: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    stroke: #F4F4FD;
    fill: #F4F4FD;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}
.icon-team-link:hover,
.icon-team-link:focus {
    background-color: #404BBF;
}

/* #endregion team */
/* #region portfolio */
.section-portfolio {
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-portfolio h2 {
    text-align: center;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}
.portfolio-img {
    position: relative;
    overflow: hidden;
}
.portfolio-list-item {
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}
.portfolio-list-item:hover,
.portfolio-list-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    
}
.portfolio-discription-list {
    padding: 32px 16px;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
}
.portfolio-list-overlay {
    position: absolute;
    background-color: #4D5AE5;
    color:#F4F4FD;
    padding: 40px 32px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    overflow: auto;
    transition: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}
.portfolio-list-overlay p {
    color:#F4F4FD;
}
.portfolio-list-item:hover .portfolio-list-overlay {
    transform: translateY(0);
}
/* #endregion footer */
/* #region footer*/
footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-list {
    display: flex;
    align-items: baseline;
}
.footer-list-item {
    display: flex;
}
.accent-footer {
    color: #F4F4FD;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
}
.footer-logo {
    display: block;
    margin-bottom: 16px;
}
.footer-general {
    display: block;
    margin-right: 120px;
}
.footer-general p {
    line-height: 1.50;
    letter-spacing: 0.02em;
    width: 264px;
}
.footer-link {
    display: block;
    margin-right: 80px;
}
.footer-link p,
.footer-form p {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.50;
    color: #FFFFFF;
}
.footer-social {
    display: flex;
    margin-top: 16px;
    gap: 16px;
}
.footer-social-link {
    display: flex;
}
.footer-link-icon:hover,
.footer-link-icon:focus {
    background-color: #31D0AA;
}
.footer-form {
    display: flex;
    justify-content: right;
    flex-direction: column;
    gap: 16px;
}
.footer-submit-form {
    display: flex;
    column-gap: 24px;
}
.footer-input {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    padding: 8px 8px 8px 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-weight: 400;
    font-size: 12px;
    line-height: 2.00;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2.00;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.footer-input:focus {
    outline: none;
    border-color: #31D0AA;
}
.footer-submit-button {
    display: flex;
    column-gap: 16px;
    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.04em;
    text-align: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-icon {
    fill: #FFFFFF;
}
.footer-submit-button:hover,
.footer-submit-button:focus {
    background-color: #31D0AA;
    outline: none;
}
/* #endregion footer*/
/* #region popup */
.backdrop-popup {
    position: fixed;
    z-index: 9999;
    background-color: rgba(46, 47, 66, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-popup.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}
.popup-review {
    position: relative;
    background-color: #FCFCFC;
    width: 408px;
    height: 80%;
    max-height: 584px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    padding: 72px 24px 24px 24px;
    overflow-y: auto;
}
.close-popup {
    background-color: #E7E9FC;
    position: absolute;
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    border-radius: 100%;
    stroke: #2E2F42;
    fill: #2E2F42;
    line-height: 0;
    padding: 0;
    transition-property: background-color, stroke, fill;
    transition-duration: 250ms, 250ms, 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}
.close-popup:hover,
.close-popup:focus {
    background-color: #404BBF;
    border: none;
    stroke: #FFFFFF;
    fill: #FFFFFF;
}
.popup-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    text-align: center;
    width: 360px;
    margin-bottom: 16px;
}
.popup-wraper {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 8px;
}
.label-fild {
    display: block;
    color: #8E8F99;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}
.field-wraper {
    position: relative;
}
.user-field {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #2E2F42;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px 8px 8px 34px;
}
.form-icon {
    fill: #2E2F42;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-field {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #2E2F42;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
    padding: 8px 8px 8px 16px;
}
.comment-field::placeholder {
    color: rgba(46, 47, 66, 0.4);
}
.form-icon:focus,
.user-field:focus,
.comment-field:focus {
    border-color: #4D5AE5;
    outline: none;
}
.user-field:focus ~ .form-icon {
    fill: #4D5AE5;
}
.popup-checkbox {
    margin-top: 16px;
}
.terms-label {
    display: flex;
    align-items: baseline;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 24px;
}
.custom-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    height: 16px;
    width: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: none;
    outline: none;
    transition-property: background-color, border-color;
    transition-duration: 250ms, 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}
.check-icon {
    fill: transparent;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox:checked + .terms-label .check-icon {
    fill: #F4F4FD;
    
}
.input-checkbox:focus + .terms-label .custom-checkbox {
    border-color: #404BBF;
    outline: none;
}
.input-checkbox:checked + .terms-label .custom-checkbox {
    background-color: #404BBF;
    border-color: #404BBF;
    outline: none;
}
.privacy-link {
    color: #4D5AE5;
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    outline: none;
}
.popup-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.popup-button:hover,
.popup-button:focus {
    background-color: #404BBF;
    outline: none;
}

/* #endregion popup */